/* FONTS */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('/src/fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url('/src/fonts/Montserrat/Montserrat-LightItalic.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/src/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url('/src/fonts/Montserrat/Montserrat-Italic.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/src/fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url('/src/fonts/Montserrat/Montserrat-SemiBoldItalic.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/src/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url('/src/fonts/Montserrat/Montserrat-BoldItalic.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/src/fonts/Nunito_Sans/NunitoSans-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url('/src/fonts/Nunito_Sans/NunitoSans-Italic.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/src/fonts/Nunito_Sans/NunitoSans-Bold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url('/src/fonts/Nunito_Sans/NunitoSans-BoldItalic.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/src/fonts/Noto_Sans/NotoSans-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url('/src/fonts/Noto_Sans/NotoSans-Italic.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/src/fonts/Noto_Sans/NotoSans-Bold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url('/src/fonts/Noto_Sans/NotoSans-BoldItalic.ttf') format('truetype');
  }
