@mixin type-h1 {
    font-size: calc(1rem * 4);
    font-family: 'Montserrat', arial !important;
}

@mixin type-h2 {
    font-size: calc(1rem * 2.625);
    font-family: 'Montserrat', arial !important;
}

@mixin type-h3 {
    font-size: calc(1rem * 2);
    font-family: 'Montserrat', arial !important;
    ;
}

@mixin type-h4 {
    font-size: calc(1rem * 1.25);
    font-family: 'Montserrat', arial !important;
}

@mixin type-h5 {
    font-size: calc(1rem * 1.25);
    font-family: 'Montserrat', arial !important;
}

p {
    font-family: "Nunito Sans", sans-serif !important;
}