// VARIAVEIS DE COR

$dark: #161616;
$midnight: #32302f;
$gray: #686361;
$medium-gray:#95928e;
$cool-gray: #e0dcd7;
$light-gray: #f6f6f6;
$pb-blue: #0058b5;
$dark-blue: #03102f;
$cool-blue: #007bff;
$violet: #4b36f8;
$white-custom: #ffffff;
$pb-green: #54ca30;
$dark-green: #42a923;
$error: #ff1e54;
$alert: #ffb035;


