
html {
    font-size: 16px;
    outline: 0;
}

main {
    min-height: 70vh;
}

ul {
    list-style: none !important;
    padding: 0 !important;
    margin: 0 !important;
}

.container, .container-fluid{
    @include media-breakpoint-down (lg) {
        padding: 0 1.0625rem;
    }
}

