.container {
    background-color: $gray-200; 
    border-radius: 10px;
    color: black;
}

.color {
    background-color: transparent;
    border: 1px solid $dark;
    height: 50px;
    border-radius: 10px;
    /* margin: 5px 5px; */
}

.title {
    font-size: 40px;
    font-weight: 700;
}

.subtitle {
    font-size: 25px;
    font-weight: 600;
}

.block-colors {
    font-size: 12px;
    height: 120px;
    width: 120px;
    border-radius: 50%;   
}

.information {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

header {
    padding-bottom: 30px;
}

html {
    font-size: 16px;
    outline: 0;
}

main{
    min-height: 100vh;
}

p {
    font-family: "Nunito Sans", sans-serif !important;
}

.btn-custom-outline{
  background-color: transparent;
  border: 1px solid black;
  color: black;
}

.icon-16 {
  width: 16px !important;
  height: auto;
}
.dark{
    background-color: $dark;
}

.midnight{
    background-color: $midnight;
}

.gray {
    background-color: $gray;
}

.medium-gray {
    background-color: $medium-gray;
}

.cool-gray{
    background-color: $cool-gray;
}

.light-gray{
    background-color: $light-gray;
}

.pb-blue{
    background-color: $pb-blue;
}

.dark-blue{
    background-color: $dark-blue;
}

.cool-blue {
    background-color: $cool-blue;
}

.violet{
    background-color: $violet;
}

.white{
    background-color: $white-custom;
}

.pb-green {
    background-color: $pb-green;
}

.dark-green {
    background-color: $dark-green;
}

.error {
    background-color: $error;
}

.bg-alert {
    background-color: $alert;
}

.gray-white{
    background-color: $white-custom;
}

.gray-100{
    background-color: $gray-100;
}

.gray-200{
    background-color: $gray-200;
}

.gray-300{
    background-color: $gray-300;
}

.gray-400{
    background-color: $gray-400;
}

.gray-500{
    background-color: $gray-500;
}

.gray-600{
    background-color: $gray-600;
}

.gray-700{
    background-color: $gray-700;
}

.gray-800{
    background-color: $gray-800;
}

.gray-900{
    background-color: $gray-900;
}

.gray-dark{
    background-color: $black;
}

