
.btn-rounded {
    background-color: $cool-blue;
    height: 50px;
    width: 50px;
    border-radius: 100% !important;
    border: 0;

    img {
        color: red;
        width: 24px;
        height: 24px;
    }

    &:hover {
        transition: 0.3s;
        background-color: $pb-blue;
    }
}

.btn-rounded-outline-dark {
    @extend .btn-rounded;
    background-color: transparent;
    border: 1px solid $dark;

    svg {
        path {
            stroke: $dark;
        }
    }

    &:hover {
        background-color: $pb-blue;
        border: 1px solid transparent;

        svg {
            path {
                stroke: $white;
            }

        }
    }
}

.btn-rounded-outline-light {
    @extend .btn-rounded-outline-dark;
    border: 1px solid $white;

    svg {
        path {
            stroke: $white;
        }
    }

    &:hover {

        background-color: $white;

        svg {
            path {
                stroke: $dark;
            }

        }
    }
}

.btn-rounded-piloto{
    background-color: $danger;
    display: flex;
    align-items: center;
    justify-content: center;
    @extend .btn-rounded;

    .icon-white{
        position:absolute;
        opacity: 0;
        // position:absolute;
        transition: .3s;
    }
    .icon-black{
        position: absolute;
        transition: .3s;
    }
    &:hover{
        .icon-white{
            opacity: 1;
        }
        .icon-black{
            opacity: 0;
        }
    }
}


.btn-root {
    padding: 5px;
    display: flex;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid $dark;
    background: url('/assets/icon/Calendário-24px-161616.svg') no-repeat center center;
    transition: .1s;
    &:hover{
        background: url('/assets/icon/Calendário-24px-ffffff.svg') no-repeat center center;
        border: 1px solid white;
    }
}

.drop-menu-mobile{
    // flex-direction: column;
    border: transparent;
    margin-top: 20px;
    .triang {
        // margin-top: 50px;
        width: 0; 
        height: 0; 
        position: absolute;
        top: -12px;
        left: 20px;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid white
    }
}