// CUSOM INPUT TYPE RANGE

input[type="range"] {
  -webkit-appearance: none;
  margin-right: 15px;
  width: 200px;
  height: 3px;
  background: $cool-gray;
  border-radius: 5px;
  background-image: linear-gradient($cool-blue, $cool-blue);
  background-size: 70% 100%;
  background-repeat: no-repeat;
}

/* Input Thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: $white;
  border: 3px solid $cool-blue;
  cursor: ew-resize;
  transition: background .3s ease-in-out;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: $white;
  border: 3px solid $cool-blue;
  cursor: ew-resize;
  transition: background .3s ease-in-out;
}

input[type="range"]::-ms-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: $white;
  border: 2px solid $cool-blue;
  cursor: ew-resize;
  transition: background .3s ease-in-out;
}

/* Input Track */
input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type=range]::-moz-range-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type="range"]::-ms-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}


// CORREÇÕES DE FIELDS

input:focus::placeholder {
  color: $dark;
}

input:not(input[type='checkbox'], input[type='radio']):not(:placeholder-shown),
textarea:not(:placeholder-shown) {
  font-weight: bold;
}

input:not(input:is(.is-valid, .is-invalid), input[type='submit'], input[type='radio']):not(:placeholder-shown),
textarea:not(:placeholder-shown) {
  border-color: $dark;
}

.select-active {
  color: $dark;
  font-weight: bold;
  border-color: $dark;
}

select::-ms-expand {
  display: none; /* Hide the default arrow in Internet Explorer 10 and Internet Explorer 11 */
}

.form-select:focus {
  color: $dark;
  // font-weight: bold;
}


// CHECKBOX + SWITCHES

.form-check-input {

  border: 0;
  background-color: $cool-gray;

  &:not([role="switch"]):not([type="radio"]) {
    border: 1px solid $dark;
    background-color: $white;

    &:focus {
      background-color: $white;
    }

    &:checked {
      border: 1px solid transparent !important;
      background-color: $cool-blue;
    }

  }

  &[type="radio"] {
    background-color: $white;
    border: 0.063rem solid $dark;
    transition: .3s;

    &:checked {
      color: $cool-blue;
      background-color: $white;
      border-color: $cool-blue
    }

  }

}

.form-switch {
  padding-left: $form-switch-padding-start;

  .form-check-input {
    height: 23px;
    width: 40px !important;
    margin-right: 10px;
  }
}

.wpcf7-list-item {

  >label>input {

    @extend .form-check-input;

  }
}

// LABEL AS REQUIRED
.required {
  display: flex;
  align-items: center;
  &::after {
    background: url('../../../src/imagens/diversas/ponto-obrigatorio.svg') no-repeat 100%;
    width: 13px;
    height: 10px;
    content: '';
    color: $danger;
  }
}